.header {
    background-color: #222;
    height: 36px;
    padding: 8px 8px 32px 16px;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
     alignment: left;
}

.head-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.header-intro {
    font-size: large;
}

@keyframes header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}